doctype strict

html
  head
    style
      include node_modules/tachyons/css/tachyons.min.css
  body.bg-black-10.w-100
    nav.fl-ns.w-25-ns.w-100.min-vh-100
      ul.list.fixed.ma0.pa0
        each val in data
          li
            a(href="#" + val.name).f6.sans-serif.blue.link.b.hover-washed-blue.hover-bg-blue.pl3.pr1= val.name
    section.fl-ns.w-75-ns.w-100
      each val in data
        //- if val.images > 0
        div(id= val.name).wrapper.bt.bw4.blue.cb
          div#info.fl-ns.w-third-ns.w-100
            h1.f4.sans-serif.blue= val.name
              if(val.has_text)
                ul.list
                  each item in val.text
                    li.blue.f7.measure-narrow.sans-serif.item.lh-copy #{item}
              if(val.has_links)
                ul.list
                  - for (var i = 0; i < val.links.length; i++)
                    li.item.blue.f7.sans-serif.lh-copy.dib.pr2.underline
                      a(href=`${val.links[i]}`).link.blue #{i}
          div.w-two-thirds-ns.w-100.fl-ns
            div.flex.flex-column.w-50-ns.w-100.fl-ns
              - for (var i = 0; i < Math.floor(val.images.length / 2); i++)
                img(src=`./images/${(val.name)}/${val.images[i]}`).w-100
            div.flex.flex-column.w-50-ns.w-100.fl-ns
              - for (var i = Math.floor(val.images.length / 2); i < val.images.length; i++)
                img(src=`./images/${(val.name)}/${val.images[i]}`).w-100